.navbar {
    background-color: transparent !important;
    position: relative !important;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 30px 40px !important;

}
.slider-outer {
    height: 100% !important;
    
}
.nav-item a {
    color: white !important;

}
.logo-outer a {
    color: white !important;

}
.main-container {
    position: absolute !important;
    top: 0;
    right: 0;
}
.about-messi {
    padding: auto !important;
    margin: 150px !important;
    height: 500px !important;
    background-color: white !important;
}
#image {
    width: 100px;
    height: 450px;
}
h1 {
    font-family: 'Roboto Mono', sans-serif;
}